<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>進入購物(order2)</title>
<link rel="stylesheet" href="/css/st1.css">
</head>
<body>
<div id="header"></div>
<div id="navigater"></div>
<div id="content">
	<div id="pic">
	<form action="/order2/add" method="post">
		<table width=450 border=1>
			<tr height=40>
				<td  colspan=3 align=center>
				<h3><p th:text="${session.member.name}"></p></h3>
				
			<tr height=150>
				<td >
				A商品<br>
				<img alt="" src="/pic/1.jpg">
				<input type="text" name="a" size=6>
				
				<td>
				B商品<br>
				<img alt="" src="/pic/2.jpg">
				<input type="text" name="b" size=6>
				
				<td>
				C商品<br>
				<img alt="" src="/pic/3.jpg">
				<input type="text" name="c" size=6>
			
			<tr height=20>
				<td  colspan=3 align=center>
				<input type="submit" value="ok">
		</table>
	</form>
	
	
	</div>
</div>
<div id="footer"></div>

</body>
</html>