@charset "utf-8";
#header{
	background-color:#5A5379;
	width:50%;
	height:100px;
	margin-left:25%;
}
#title
{
	padding-left:35%;
	padding-top:30px;
	font-size:30pt;
	color:white;
}
#title_employee 
{
	padding-left:35%;
	padding-top:30px;
	font-size:30pt;
	color:white;
}
#content{
	background-color:#E8E7EE;
	width:50%;
	height:400px;
	margin-left:25%;
}
#alignform
{
	padding-left:30%;
	padding-top:60px;
}
#loginForm
{
	padding-top:100px;
	padding-left:30%;
}
#navigater{
	background-color:#3F3A55;
	width:50%;
	height:30px;
	margin-left:25%;
}
#nav
{
	padding-left:20%;
	color:white;
	font-size:10pt;
	
}
#footer{
	background-color:#514C6B;
	width:50%;
	height:50px;
	margin-left:25%;
}