<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>2023/11/25 (3)</title>
<link rel="stylesheet" href="css/st2.css">
</head>
<body>
<div id="header">
	<div id="title">
		美食天堂 3
	</div>
</div>
<div id="navigater">
	<div id="nav">
		<table border="0" width="75%">
			<td align="center">
				<td>1)菜色</td>
				<td>2)訂位</td>
				<td><a href="login3.html">3)會員登入</></td>
				<td>4)註冊</td>
				<td>5)留言資訊</td>
			</tr>
		</table>
	</div>
</div>
<div id="content"></div>
<div id="footer"></div>
</body>
</html>